/*
.test {
  @include calc(width, "25% - 1em");
} 
*/
/* line 1, ../sass/partials/_reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/partials/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 1, ../sass/partials/_reset.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 1, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../sass/partials/_reset.scss */
caption, th {
  text-align: left;
}

/* line 1, ../sass/partials/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 1, ../sass/partials/_reset.scss */
q:before, q:after {
  content: '';
}

/* line 1, ../sass/partials/_reset.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 1, ../sass/partials/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 1, ../sass/partials/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 1, ../sass/partials/_reset.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: content-box;
}

/* line 1, ../sass/partials/_reset.scss */
input, textarea, select {
  *font-size: 100%;
}

/* line 1, ../sass/partials/_reset.scss */
legend {
  color: #000;
}

/* line 2, ../sass/partials/_reset.scss */
input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

/* line 3, ../sass/partials/_reset.scss */
input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* line 7, ../sass/partials/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 9, ../sass/partials/_reset.scss */
input, textarea, select, button {
  box-sizing: border-box;
}

/* line 15, ../sass/partials/_reset.scss */
a:focus, a:visited, a:hover, a:active, a {
  color: inherit;
  text-decoration: none;
}

/* line 19, ../sass/partials/_reset.scss */
button:active {
  outline: 0px;
  focus: none;
}

/* line 23, ../sass/partials/_reset.scss */
ul, li, dl, ol, dt {
  font-size: 0px;
}

/* line 26, ../sass/partials/_reset.scss */
figure {
  margin: 0;
  padding: 0;
}

/* line 30, ../sass/partials/_reset.scss */
.width-fix {
  width: 1150px;
  margin: 0 auto;
}

/* line 34, ../sass/partials/_reset.scss */
.left {
  float: left;
  left: 0;
}

/* line 38, ../sass/partials/_reset.scss */
.right {
  float: right;
  right: 0;
}

/* line 42, ../sass/partials/_reset.scss */
.clear {
  clear: both;
}

/* line 12, ../sass/partials/_elementos.scss */
input, select, .sod_select {
  height: 30px;
  padding: 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  color: #868686;
  font-family: arial;
  font-size: 13px;
}

/* line 22, ../sass/partials/_elementos.scss */
input[type=radio] {
  border: initial;
}

/* line 25, ../sass/partials/_elementos.scss */
input[type=submit] {
  border: 0px;
  background: #007dc6;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  color: white;
  font-family: "simplon_bp_mediummedium";
  font-size: 12px;
  text-transform: uppercase;
}
/* line 34, ../sass/partials/_elementos.scss */
input[type=submit]:hover {
  background: #0068af;
}

/* line 38, ../sass/partials/_elementos.scss */
.wid40 {
  width: 40px;
}

/* line 39, ../sass/partials/_elementos.scss */
.wid100 {
  width: 100px;
}

/* line 40, ../sass/partials/_elementos.scss */
.wid120 {
  width: 120px;
}

/* line 41, ../sass/partials/_elementos.scss */
.wid130 {
  width: 130px;
}

/* line 42, ../sass/partials/_elementos.scss */
.wid150 {
  width: 150px;
}

/* line 43, ../sass/partials/_elementos.scss */
.wid170 {
  width: 170px;
}

/* line 44, ../sass/partials/_elementos.scss */
.wid210 {
  width: 210px;
}

/* line 45, ../sass/partials/_elementos.scss */
.wid380 {
  width: 380px;
}

/* line 6, ../sass/style.scss */
body {
  font-family: arial;
  min-width: 940px;
}

/* line 12, ../sass/style.scss */
header {
  width: 100%;
  min-width: 940px;
  height: 65px;
  background: #007dc6;
  position: fixed;
  z-index: 20;
}
/* line 19, ../sass/style.scss */
header h1 {
  display: block;
  width: 260px;
  height: 65px;
  position: fixed;
  left: 0;
  z-index: 15;
  text-indent: -9999px;
  top: 0;
  background: #004c8f;
}
/* line 29, ../sass/style.scss */
header h1:before {
  content: '';
  position: absolute;
  display: block;
  margin-left: 42px;
  margin-top: 15px;
  background-image: url("../images/icons/sprites.png");
  background-position: -229px -52px;
  background-repeat: no-repeat;
  width: 172px;
  height: 35px;
}
/* line 38, ../sass/style.scss */
header nav {
  padding-left: 304px;
  margin-top: 16px;
}
/* line 43, ../sass/style.scss */
header nav > div {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  position: relative;
}
/* line 47, ../sass/style.scss */
header nav > div ul {
  position: absolute;
  height: 0px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s 0.2s ease-in;
  -moz-transition: all 0.3s 0.2s ease-in;
  -o-transition: all 0.3s 0.2s ease-in;
  transition: all 0.3s 0.2s ease-in;
  box-sizing: border-box;
  cursor: default;
}
/* line 54, ../sass/style.scss */
header nav > div ul li {
  margin-left: 30px;
  margin-top: 8px;
}
/* line 57, ../sass/style.scss */
header nav > div ul li:first-child {
  margin-top: 20px;
}
/* line 61, ../sass/style.scss */
header nav > div ul li a {
  color: #4d4d4d;
  line-height: 15px;
  -webkit-transition: opacity 0.3s 0.2s ease-in;
  -moz-transition: opacity 0.3s 0.2s ease-in;
  -o-transition: opacity 0.3s 0.2s ease-in;
  transition: opacity 0.3s 0.2s ease-in;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
/* line 66, ../sass/style.scss */
header nav > div ul li a:hover {
  color: #1a1a1a;
}
/* line 71, ../sass/style.scss */
header nav > div:hover {
  overflow: visible;
}
/* line 73, ../sass/style.scss */
header nav > div:hover ul {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
/* line 76, ../sass/style.scss */
header nav > div:hover li a {
  font-size: 15px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
/* line 83, ../sass/style.scss */
header nav > div.maisItens {
  margin-top: 4px;
  width: 23px;
  height: 23px;
  background-image: url("../images/icons/sprites.png");
  background-position: -205px -52px;
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #007dc6;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 92, ../sass/style.scss */
header nav > div.maisItens ul {
  top: 26px;
  left: -33px;
  width: 157px;
  background-image: url("../images/icons/balao.png");
}
/* line 98, ../sass/style.scss */
header nav > div.maisItens:hover {
  background-color: #004c8f;
}
/* line 100, ../sass/style.scss */
header nav > div.maisItens:hover ul {
  width: 157px;
  height: 99px;
}
/* line 107, ../sass/style.scss */
header nav > div.direita {
  float: right;
  margin-right: 24px;
}
/* line 110, ../sass/style.scss */
header nav > div.direita span {
  display: block;
  padding: 10px 20px 10px 10px;
  cursor: pointer;
  color: white;
  font-family: "flexolight";
  font-size: 15px;
  background-image: url("../images/icons/arrow.png");
  background-repeat: no-repeat;
  background-position: center right;
}
/* line 121, ../sass/style.scss */
header nav > div.direita ul {
  top: 30px;
  left: -100px;
  width: 210px;
  background-image: url("../images/icons/balao2.png");
}
/* line 126, ../sass/style.scss */
header nav > div.direita ul li a {
  font-family: verdana;
}
/* line 131, ../sass/style.scss */
header nav > div.direita:hover ul {
  height: 98px;
}
/* line 137, ../sass/style.scss */
header nav > form {
  position: absolute;
  right: 0;
  font-size: 15px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 248px;
}
/* line 143, ../sass/style.scss */
header nav > form label {
  color: white;
  font-family: "flexomedium";
}
/* line 147, ../sass/style.scss */
header nav > form select, header nav > form .sod_select {
  margin-left: 5px;
  width: 280px;
  height: 34px;
  vertical-align: middle;
}

/* line 157, ../sass/style.scss */
body > section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 855px;
  min-height: 730px;
  height: 100%;
}

/* line 167, ../sass/style.scss */
body > section > aside {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #f1f0ee;
  z-index: 10;
}
/* line 173, ../sass/style.scss */
body > section > aside h2 {
  display: block;
  width: 260px;
  height: 65px;
  position: fixed;
  left: 0;
  z-index: 15;
  background: #c9c8c7;
  top: 65px;
  color: #4d4d4d;
  font-family: "flexodemi";
  font-size: 18px;
  text-align: center;
  line-height: 65px;
}
/* line 188, ../sass/style.scss */
body > section > aside > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  padding-bottom: 68px;
  padding-top: 130px;
  box-sizing: border-box;
  z-index: 10;
}
/* line 198, ../sass/style.scss */
body > section > aside > div > ul {
  overflow-y: auto;
  height: 100%;
  position: relative;
  padding-bottom: 44px;
  box-sizing: border-box;
}
/* line 205, ../sass/style.scss */
body > section > aside > div > ul > li {
  display: block;
  width: 100%;
  height: 38px;
  line-height: 38px;
  margin-top: 20px;
  box-sizing: border-box;
  z-index: 10;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 214, ../sass/style.scss */
body > section > aside > div > ul > li:first-child {
  margin-top: 24px;
}
/* line 220, ../sass/style.scss */
body > section > aside > div > ul > li > a {
  position: relative;
  display: block;
  height: 100%;
  color: #4d4d4d;
  font-size: 15px;
  padding-left: 24px;
  border-left: 3px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 230, ../sass/style.scss */
body > section > aside > div > ul > li > a:before {
  content: attr(data-name);
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin-right: 9px;
  width: 33px;
  height: 38px;
  background-image: url("../images/icons/list-mask.png");
  color: white;
  font-family: "flexomedium";
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}
/* line 249, ../sass/style.scss */
body > section > aside > div li.blue > a:hover, body > section > aside > div li.blue > a:active, body > section > aside > div li.blue > a.do-ativo {
  border-left: 3px solid #007dc6;
}
/* line 252, ../sass/style.scss */
body > section > aside > div li.blue > a:before {
  background-color: #007dc6;
}
/* line 249, ../sass/style.scss */
body > section > aside > div li.yellow > a:hover, body > section > aside > div li.yellow > a:active, body > section > aside > div li.yellow > a.do-ativo {
  border-left: 3px solid #faa61a;
}
/* line 252, ../sass/style.scss */
body > section > aside > div li.yellow > a:before {
  background-color: #faa61a;
}
/* line 249, ../sass/style.scss */
body > section > aside > div li.green > a:hover, body > section > aside > div li.green > a:active, body > section > aside > div li.green > a.do-ativo {
  border-left: 3px solid #8dc63f;
}
/* line 252, ../sass/style.scss */
body > section > aside > div li.green > a:before {
  background-color: #8dc63f;
}
/* line 249, ../sass/style.scss */
body > section > aside > div li.purple > a:hover, body > section > aside > div li.purple > a:active, body > section > aside > div li.purple > a.do-ativo {
  border-left: 3px solid #9a3393;
}
/* line 252, ../sass/style.scss */
body > section > aside > div li.purple > a:before {
  background-color: #9a3393;
}
/* line 270, ../sass/style.scss */
body > section > aside > div > ul > li.expande {
  height: auto;
  position: absolute;
  top: 5px;
  min-height: 100%;
  z-index: 11;
  background: #f1f0ee;
  padding-top: 0px;
  padding-bottom: 44px;
  box-sizing: content-box;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 281, ../sass/style.scss */
body > section > aside > div > ul > li.expande:first-child {
  top: -5px;
  padding-top: 5px;
}
/* line 285, ../sass/style.scss */
body > section > aside > div > ul > li.expande > ul {
  padding-top: 24px;
  border-top: 1px solid #c9c8c7;
  margin-top: 24px;
}
/* line 290, ../sass/style.scss */
body > section > aside > div > ul > li.expande > ul > li {
  margin-bottom: 15px;
  height: 20px;
  padding-left: 27px;
}
/* line 294, ../sass/style.scss */
body > section > aside > div > ul > li.expande > ul > li > a {
  color: #4d4d4d;
  font-size: 15px;
  line-height: 15px;
  display: block;
  cursor: pointer;
}
/* line 300, ../sass/style.scss */
body > section > aside > div > ul > li.expande > ul > li > a:hover {
  color: gray;
}
/* line 303, ../sass/style.scss */
body > section > aside > div > ul > li.expande > ul > li > a:before {
  content: '';
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 7px;
  margin-top: 2.5px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("../images/icons/sprites.png");
}
/* line 314, ../sass/style.scss */
body > section > aside > div > ul > li.expande > ul > li > a.icon01:before {
  background-position: -16px -89px;
}
/* line 317, ../sass/style.scss */
body > section > aside > div > ul > li.expande > ul > li > a.icon02:before {
  background-position: 0px -89px;
}
/* line 320, ../sass/style.scss */
body > section > aside > div > ul > li.expande > ul > li > a.icon03:before {
  background-position: -33px -89px;
}

/* line 329, ../sass/style.scss */
body > section > .content {
  padding: 130px 24px 0 304px;
  padding-bottom: 136px;
  width: 100%;
  min-height: 100%;
  min-width: 940px;
  box-sizing: border-box;
  z-index: 5;
}
/* line 338, ../sass/style.scss */
body > section > .content figure.home {
  padding-left: 45px;
  position: relative;
  width: 755px;
  height: 652px;
  margin-bottom: 100px;
}
/* line 344, ../sass/style.scss */
body > section > .content figure.home img {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
/* line 350, ../sass/style.scss */
body > section > .content figure.home figcaption {
  float: left;
  top: 0;
  left: 0;
  color: #007dc6;
  font-family: "flexoheavy";
  font-size: 32px;
  line-height: 40px;
}
/* line 358, ../sass/style.scss */
body > section > .content figure.home figcaption span {
  color: #4d4d4d;
  font-family: "flexolight";
  font-size: 25px;
  display: block;
}
/* line 367, ../sass/style.scss */
body > section > .content > div {
  width: 740px;
  min-height: 100%;
}
/* line 370, ../sass/style.scss */
body > section > .content > div > h2, body > section > .content > div > h3 {
  color: #007dc6;
  font-family: "flexodemi";
  font-size: 18px;
  display: block;
  margin-bottom: 30px;
  position: relative;
}
/* line 378, ../sass/style.scss */
body > section > .content > div > h3 {
  color: #4d4d4d;
  margin-bottom: 25px;
  padding-left: 25px;
}
/* line 382, ../sass/style.scss */
body > section > .content > div > h3:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 2px;
}
/* line 389, ../sass/style.scss */
body > section > .content > div > h3.icoPessoa:before {
  background-image: url("../images/icons/sprites.png");
  background-position: -52px -89px;
  background-repeat: no-repeat;
  width: 13px;
  height: 17px;
}
/* line 392, ../sass/style.scss */
body > section > .content > div > h3.icoBuscar:before {
  background-image: url("../images/icons/sprites.png");
  background-position: -66px -89px;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
/* line 395, ../sass/style.scss */
body > section > .content > div > h3.icoBuscar2:before {
  background-image: url("../images/icons/sprites.png");
  background-position: -85px -89px;
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
}
/* line 399, ../sass/style.scss */
body > section > .content > div > form {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #d2d2d2;
}
/* line 403, ../sass/style.scss */
body > section > .content > div > form > label {
  margin-bottom: 10px;
  width: 75px;
  height: 30px;
  text-align: left;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 409, ../sass/style.scss */
body > section > .content > div > form > label.big {
  width: 90px;
}
/* line 411, ../sass/style.scss */
body > section > .content > div > form > label.bigger {
  width: 145px;
}
/* line 414, ../sass/style.scss */
body > section > .content > div > form > label.noMargin {
  margin-left: 0px;
}
/* line 417, ../sass/style.scss */
body > section > .content > div > form > label.bigMargin {
  margin-left: 240px;
}
/* line 419, ../sass/style.scss */
body > section > .content > div > form > label.bigMargin + label {
  margin-left: 15px;
}
/* line 423, ../sass/style.scss */
body > section > .content > div > form > label + input + label {
  margin-left: 30px;
}
/* line 428, ../sass/style.scss */
body > section > .content > div > form input + input {
  margin-left: 5px;
}
/* line 431, ../sass/style.scss */
body > section > .content > div > form input[type='submit'] {
  display: block;
  margin-top: 30px;
  width: 210px;
  margin-left: 529px;
}
/* line 437, ../sass/style.scss */
body > section > .content > div > form input[type='radio'] {
  vertical-align: middle;
  border: 0px;
  padding: 0px;
}
/* line 444, ../sass/style.scss */
body > section > .content > div form[name='cadastroNovoUsuario'] .sod_select {
  width: 170px;
  vertical-align: middle;
}
/* line 449, ../sass/style.scss */
body > section > .content > div > table {
  width: 100%;
  border: 1px solid #d2d2d2;
  border-bottom: 0px;
  border-top: 7px solid #007dc6;
  font-size: 14px;
}
/* line 455, ../sass/style.scss */
body > section > .content > div > table tr {
  height: 33px;
}
/* line 458, ../sass/style.scss */
body > section > .content > div > table th {
  color: #676e72;
  font-weight: bold;
  text-align: center;
  background: #d2d2d2;
  border-left: 1px solid #b7b7b7;
}
/* line 464, ../sass/style.scss */
body > section > .content > div > table th:first-child {
  border-left: 0px;
  width: 210px;
}
/* line 468, ../sass/style.scss */
body > section > .content > div > table th.mini {
  width: 85px;
}
/* line 471, ../sass/style.scss */
body > section > .content > div > table th.medium {
  width: 125px;
}
/* line 475, ../sass/style.scss */
body > section > .content > div > table td {
  padding: 10px;
  color: #747a7e;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
/* line 480, ../sass/style.scss */
body > section > .content > div > table td:first-child {
  border-left: 0px;
}
/* line 483, ../sass/style.scss */
body > section > .content > div > table td.center {
  text-align: center;
}
/* line 486, ../sass/style.scss */
body > section > .content > div > table td > span {
  text-indent: -9999px;
  display: block;
  background-image: url("../images/icons/sprites.png");
  background-position: -107px -89px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: 25px;
}
/* line 492, ../sass/style.scss */
body > section > .content > div > table td > span.ok {
  background-image: url("../images/icons/sprites.png");
  background-position: -158px -89px;
  background-repeat: no-repeat;
  width: 16px;
  height: 12px;
}
/* line 495, ../sass/style.scss */
body > section > .content > div > table td > span.nok {
  background-image: url("../images/icons/sprites.png");
  background-position: -175px -89px;
  background-repeat: no-repeat;
  width: 12px;
  height: 11px;
}
/* line 498, ../sass/style.scss */
body > section > .content > div > table td > span.circle {
  background-image: url("../images/icons/sprites.png");
  background-position: -144px -89px;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
}
/* line 501, ../sass/style.scss */
body > section > .content > div > table td > span.ver {
  background-image: url("../images/icons/sprites.png");
  background-position: -125px -89px;
  background-repeat: no-repeat;
  width: 18px;
  height: 11px;
}
/* line 505, ../sass/style.scss */
body > section > .content > div > table td > a {
  color: #007dc6;
}
/* line 507, ../sass/style.scss */
body > section > .content > div > table td > a:hover {
  text-decoration: underline;
}
/* line 513, ../sass/style.scss */
body > section > .content > div .tableCount {
  display: block;
  text-align: left;
  color: #747a7e;
  font-size: 12px;
  margin-top: 5px;
}

/* line 525, ../sass/style.scss */
.login {
  position: relative;
  min-height: 870px;
  background: #007dc6;
  height: 100%;
  height: -webkit-calc(100% - 68px);
  height: calc(100% - 68px);
  font-family: "flexolight";
}
/* line 532, ../sass/style.scss */
.login > div {
  position: absolute;
  width: 855px;
  height: 730px;
  top: 50%;
  left: 50%;
  margin-left: -427.5px;
  margin-top: -365px;
}
/* line 540, ../sass/style.scss */
.login > div h1 {
  text-indent: -9999px;
  background-image: url("../images/icons/sprites.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 422px;
  height: 51px;
  margin-left: 216.5px;
  margin-bottom: 120px;
  margin-top: 20px;
}
/* line 547, ../sass/style.scss */
.login > div span {
  text-align: center;
  display: block;
  color: white;
  font-size: 15px;
  margin-bottom: 25px;
}
/* line 554, ../sass/style.scss */
.login > div h2 {
  margin-top: 120px;
  font-size: 35px;
  line-height: 30px;
  letter-spacing: -0.25px;
  text-align: center;
  padding-bottom: 60px;
  display: block;
  color: white;
}
/* line 565, ../sass/style.scss */
.login form {
  width: 598px;
  height: 298px;
  padding: 33px;
  box-sizing: border-box;
  background: white;
  margin-left: 128.5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 4px 5px 0px rgba(33, 29, 30, 0.4);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(33, 29, 30, 0.4);
  box-shadow: 0px 4px 5px 0px rgba(33, 29, 30, 0.4);
  font-family: arial;
}
/* line 575, ../sass/style.scss */
.login form label {
  height: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 252px;
  border-right: 2px solid #007dc6;
  vertical-align: top;
  text-indent: -9999px;
  position: relative;
}
/* line 583, ../sass/style.scss */
.login form label:before {
  content: '';
  display: block;
  position: absolute;
  top: 46px;
  left: 0;
  background-image: url("../images/icons/sprites.png");
  background-position: -423px 0px;
  background-repeat: no-repeat;
  width: 205px;
  height: 154px;
}
/* line 592, ../sass/style.scss */
.login form div {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 237px;
  margin-left: 30px;
}
/* line 597, ../sass/style.scss */
.login form input {
  width: 100%;
  height: 34px;
  margin-bottom: 10px;
}
/* line 601, ../sass/style.scss */
.login form input:first-child {
  margin-top: 56px;
}
/* line 605, ../sass/style.scss */
.login form p {
  text-align: center;
  color: #007dc6;
  font-size: 13px;
}
/* line 609, ../sass/style.scss */
.login form p a:hover {
  text-decoration: underline;
}

/* line 617, ../sass/style.scss */
.login + footer {
  position: fixed;
}

/* line 621, ../sass/style.scss */
body > section + footer {
  position: fixed;
}

/* line 625, ../sass/style.scss */
footer {
  background: #00579c;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 68px;
  z-index: 20;
  box-sizing: border-box;
  padding: 21px 24px;
}
/* line 634, ../sass/style.scss */
footer ul {
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 638, ../sass/style.scss */
footer ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 13px;
  color: #328fda;
  margin-left: 35px;
}
/* line 643, ../sass/style.scss */
footer ul li a:hover {
  text-decoration: underline;
}
/* line 647, ../sass/style.scss */
footer ul li:first-child {
  margin-left: 0px;
}
/* line 649, ../sass/style.scss */
footer ul li:first-child a {
  text-indent: -9999px;
  display: block;
  background-image: url("../images/icons/sprites.png");
  background-position: 0 -52px;
  background-repeat: no-repeat;
  width: 128px;
  height: 16px;
  margin-top: 8px;
}
/* line 656, ../sass/style.scss */
footer ul li.politica {
  margin-right: 35px;
}
/* line 659, ../sass/style.scss */
footer ul li.telMail {
  margin-top: 7px;
  text-align: center;
  margin-left: 0px;
  margin-right: 50px;
}
/* line 664, ../sass/style.scss */
footer ul li.telMail a:first-child {
  padding-left: 24px;
  position: relative;
}
/* line 667, ../sass/style.scss */
footer ul li.telMail a:first-child:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  background-image: url("../images/icons/sprites.png");
  background-position: -188px -52px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
/* line 677, ../sass/style.scss */
footer ul li.copy {
  float: right;
  right: 78px;
  margin-top: 7px;
  position: relative;
}
/* line 682, ../sass/style.scss */
footer ul li.copy a {
  text-decoration: none;
}
/* line 685, ../sass/style.scss */
footer ul li.copy a:after {
  content: '';
  position: absolute;
  display: block;
  left: 78px;
  top: 0;
  margin-top: -5px;
  background-image: url("../images/icons/sprites.png");
  background-position: -129px -52px;
  background-repeat: no-repeat;
  width: 58px;
  height: 19px;
  vertical-align: middle;
}

@-moz-document url-prefix() {}
/* line 22, ../sass/partials/_hacks.scss */
.ie8 select {
  padding: 0px 6px;
}
