@font-face {
    font-family: 'simplon_bp_regularregular';
    src: url('simplonbpregular-webfont.eot');
    src: url('simplonbpregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('simplonbpregular-webfont.woff') format('woff'),
         url('simplonbpregular-webfont.ttf') format('truetype'),
         url('simplonbpregular-webfont.svg#simplon_bp_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'simplon_bp_mediummedium';
    src: url('simplonbp-medium-webfont.eot');
    src: url('simplonbp-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('simplonbp-medium-webfont.woff') format('woff'),
         url('simplonbp-medium-webfont.ttf') format('truetype'),
         url('simplonbp-medium-webfont.svg#simplon_bp_mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'simplon_bp_boldbold';
    src: url('simplonbp-bold.eot');
    src: url('simplonbp-bold.eot?#iefix') format('embedded-opentype'),
         url('simplonbp-bold.woff') format('woff'),
         url('simplonbp-bold.ttf') format('truetype'),
         url('simplonbp-bold.svg#simplon_bp_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}