@font-face {
	font-family:'Myriad Pro';
	src: url('MyriadPro-Light_gdi.eot');
	src: url('MyriadPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Light_gdi.woff') format('woff'),
		url('MyriadPro-Light_gdi.ttf') format('truetype'),
		url('MyriadPro-Light_gdi.svg#MyriadPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'Myriad Pro';
	src: url('MyriadPro-Regular_gdi.eot');
	src: url('MyriadPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Regular_gdi.woff') format('woff'),
		url('MyriadPro-Regular_gdi.ttf') format('truetype'),
		url('MyriadPro-Regular_gdi.svg#MyriadPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'Myriad Pro';
	src: url('MyriadPro-Semibold_gdi.eot');
	src: url('MyriadPro-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Semibold_gdi.woff') format('woff'),
		url('MyriadPro-Semibold_gdi.ttf') format('truetype'),
		url('MyriadPro-Semibold_gdi.svg#MyriadPro-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'Myriad Pro';
	src: url('MyriadPro-Bold_gdi.eot');
	src: url('MyriadPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Bold_gdi.woff') format('woff'),
		url('MyriadPro-Bold_gdi.ttf') format('truetype'),
		url('MyriadPro-Bold_gdi.svg#MyriadPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'MyriadPro-BoldIt';
	src: url('MyriadPro-BoldIt_gdi.eot');
	src: url('MyriadPro-BoldIt_gdi.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-BoldIt_gdi.woff') format('woff'),
		url('MyriadPro-BoldIt_gdi.ttf') format('truetype'),
		url('MyriadPro-BoldIt_gdi.svg#MyriadPro-BoldIt') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}